body {
    height: 100%;
    width: 100%;
    background: #121212;
    font-family: "Poppins", sans-serif;
    font-weight: 350;
    font-style: normal;
    color: #fff;
    font-size: 1em;
}

button {
    cursor: pointer;
}

.nav-button {
    height: 50px;
    width: 150px;
    background: #1FD760;
    border: 2px;
    font-size: 1em;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.right {
    margin-right: 18px;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}