.input-style {
    height: 30px;
    width: 100%;
    background: #242424;
    border: 2px;
}

.font {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    text-align: center;
}

.input-div {
}